@{
    ViewData["Title"] = "All";
    List<ProductModels> products = ViewBag.Products;
    


}


<h4>All Products</h4>
<br />

<div>
    
    <table class="table" id="Ainz">
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Cost(GHS)</th>
            <th>Stock Available</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>



        @foreach (var product in products)
        {
            <tr>
                <td>@product.ProductName</td> 
                <td>@product.CategoryName</td> 
                <td>@product.Cost</td> 
                <td>@product.StockAvailable</td> 
                <td>@product.CreatedAt.ToString("dd-MMM-yyyy hh:mm tt")</td>
                <td><button type="button" class="btn btn-dark btn-sm" onclick="pageRedirect(@product.ProductId)">Record Sales</button></td>


            </tr>
        }
    </table>








</div>
@section Scripts {
    <script>    
        function pageRedirect(productId) {
            window.location = `https://localhost:44378/Sales/RecordSales?productId=${productId}`;


        }
        /*
        $(document).ready(function () {
            $.ajax({
                url: 'https://localhost:44378/Api/ProductApi/GetAllProducts',
                type: 'GET',
                dataType: 'json',
                
                success: function (data, status, xhr) {   // success callback function
                    console.log("All Products", data);
                    var m = $('#Ainz');
                    data.forEach(function (dataRow) {
                        var tableRow = `
                        <tr>
                            <td> ${dataRow.productName}</td>
                            <td> ${dataRow.categoryName}</td>
                            <td> ${dataRow.cost}</td>
                            <td> ${dataRow.stockAvailable}</td>
                            <td> ${dataRow.createdAt}</td>

                        </tr>
                        `

                                                m.append(tableRow);
                    });
                  
                        
                        //$("#m").append("<td>"+data.productName+ "</td">);

                    //})
                    //$('p').append(data.productName + ' ' + data.middleName + ' ' + data.lastName);
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback 
                    $('p').append('Error: ' + errorMessage);
                }




            });




        })
        */



    </script>

}


